In [94]:
import numpy as np
import pandas as pd

In [95]:
df_car= pd.read_csv('../pliki/car_prices.csv')

### Przygotowanie danych do analizy

Wyświetlenie bazy danych csv

In [96]:
df_car

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...,...
117922,117922,volvo,xc-90,gen-ii-2014-xc-90,2020,40000,1969,Hybrid,Katowice,Śląskie,222790
117923,117923,volvo,xc-90,gen-ii-2014-xc-90,2017,51000,1969,Diesel,Chechło Pierwsze,Łódzkie,229900
117924,117924,volvo,xc-90,gen-ii-2014-xc-90,2016,83500,1969,Gasoline,Pruszcz Gdański,Pomorskie,135000
117925,117925,volvo,xc-90,gen-ii-2014-xc-90,2017,174000,1969,Diesel,Kalisz,Wielkopolskie,154500
117926,117926,volvo,xc-90,gen-ii-2014-xc-90,2016,189020,1969,Gasoline,Sionna,Mazowieckie,130000

Usunięcie niepotrzebnej, nieopisanej kolumny "Unnamed: 0"

In [97]:
df_car = df_car.drop('Unnamed: 0',axis=1)

In [98]:
df_car

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900
...,...,...,...,...,...,...,...,...,...,...
117922,volvo,xc-90,gen-ii-2014-xc-90,2020,40000,1969,Hybrid,Katowice,Śląskie,222790
117923,volvo,xc-90,gen-ii-2014-xc-90,2017,51000,1969,Diesel,Chechło Pierwsze,Łódzkie,229900
117924,volvo,xc-90,gen-ii-2014-xc-90,2016,83500,1969,Gasoline,Pruszcz Gdański,Pomorskie,135000
117925,volvo,xc-90,gen-ii-2014-xc-90,2017,174000,1969,Diesel,Kalisz,Wielkopolskie,154500
117926,volvo,xc-90,gen-ii-2014-xc-90,2016,189020,1969,Gasoline,Sionna,Mazowieckie,130000

Informacje o kolumnach w naszej bazie danych

In [99]:
df_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117927 entries, 0 to 117926
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   mark             117927 non-null  object
 1   model            117927 non-null  object
 2   generation_name  87842 non-null   object
 3   year             117927 non-null  int64
 4   mileage          117927 non-null  int64
 5   vol_engine       117927 non-null  int64
 6   fuel             117927 non-null  object
 7   city             117927 non-null  object
 8   province         117927 non-null  object
 9   price            117927 non-null  int64
dtypes: int64(4), object(6)
memory usage: 9.0+ MB

Ilość pustych wierszy w danej kolumnie

In [100]:
df_car.isna().sum()

mark                   0
model                  0
generation_name    30085
year                   0
mileage                0
vol_engine             0
fuel                   0
city                   0
province               0
price                  0
dtype: int64

Wyłączenie notacji naukowej, ustawienie ilości wyświetlanych miejsc po przecinku

In [101]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### Analiza danych

Podstawowe statystyki dla kolumn numerycznych

In [102]:
df_car.describe()

            year     mileage  vol_engine       price
count 117927.000  117927.000  117927.000  117927.000
mean    2012.925  140976.786    1812.058   70299.885
std        5.690   92369.357     643.613   84824.578
min     1945.000       0.000       0.000     500.000
25%     2009.000   67000.000    1461.000   21000.000
50%     2013.000  146269.000    1796.000   41900.000
75%     2018.000  203000.000    1995.000   83600.000
max     2022.000 2800000.000    7600.000 2399900.000

Podstawowe statystyki dla kolumn tekstowych

In [103]:
df_car.describe(include='object')

          mark   model   generation_name      fuel      city     province
count   117927  117927             87842    117927    117927       117927
unique      23     328               364         6      4427           23
top       audi   astra  gen-8p-2003-2012  Gasoline  Warszawa  Mazowieckie
freq     12031    3331              1567     61597      7972        22219

Ilość ogłoszeń w zależności od marki samochodu

In [104]:
df_car['mark'].value_counts()

mark
audi             12031
opel             11914
bmw              11070
volkswagen       10848
ford              9664
mercedes-benz     7136
renault           6976
skoda             5888
toyota            5120
peugeot           5056
volvo             4384
hyundai           4032
kia               3744
nissan            3072
fiat              2880
mazda             2848
seat              2848
citroen           2720
honda             2176
mitsubishi        1120
mini              1088
alfa-romeo         704
chevrolet          608
Name: count, dtype: int64

Ilość ogłoszeń ze względu na rodzaj paliwa

In [105]:
df_car['fuel'].value_counts()

fuel
Gasoline    61597
Diesel      48476
LPG          4301
Hybrid       2621
Electric      885
CNG            47
Name: count, dtype: int64

Ilość ogłoszeń ze wzgędu na region geograficzny

In [106]:
df_car['province'].value_counts()

province
Mazowieckie                 22219
Śląskie                     16706
Wielkopolskie               14016
Małopolskie                  9756
Dolnośląskie                 8838
Łódzkie                      7884
Pomorskie                    7605
Kujawsko-pomorskie           5371
Lubelskie                    4740
Zachodniopomorskie           3963
Podkarpackie                 3553
Świętokrzyskie               3337
Warmińsko-mazurskie          2956
Lubuskie                     2743
Podlaskie                    2123
Opolskie                     2073
Moravian-Silesian Region       35
Berlin                          3
Wiedeń                          2
Niedersachsen                   1
(                               1
Trenczyn                        1
Nordrhein-Westfalen             1
Name: count, dtype: int64

Ilość ogłoszeń dla samochodów wyprodukowanych przed rokiem 2000

In [107]:
df_car[df_car['year'] < 2000].size

12050

Ilość ogłoszeń dla samochodów wyprodukowanych przed rokiem 1970

In [108]:
df_car[df_car['year'] < 1970].size

250

Ilość ogłoszeń dla samochodów, których cena wynosiła milion złotych lub więcej

In [109]:
df_car[df_car['price'] >= 1000000].size

170

Ilość ogłoszeń, w których przebieg wynosił więcej niż 350000 km

In [110]:
df_car[df_car['mileage'] > 350000].size

14970

Ilość ogłoszeń dla samochodów o pojemności silnika większej niż 3000 cm3

In [111]:
df_car[df_car['vol_engine']>3000].size

32690

Ogłoszenia pochodzące z Krakowa dla samochodów z rocznika 2015 - 2020 włącznie

In [112]:
df_car[(df_car['city'] == 'Kraków') & (df_car['year'] >= 2015) & (df_car['year'] <= 2020)]

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
28,opel,combo,gen-d-2011,2015,135000,1248,Diesel,Kraków,Małopolskie,39000
60,opel,combo,gen-d-2011,2015,135000,1248,Diesel,Kraków,Małopolskie,39000
268,opel,adam,NaN,2015,120480,1398,Gasoline,Kraków,Małopolskie,49900
284,opel,adam,NaN,2015,57500,1398,Gasoline,Kraków,Małopolskie,34900
1702,opel,astra,gen-j-2009-2015,2015,56207,1598,Gasoline,Kraków,Małopolskie,44000
...,...,...,...,...,...,...,...,...,...,...
117835,volvo,xc-90,gen-ii-2014-xc-90,2018,110000,1969,Gasoline,Kraków,Małopolskie,239900
117865,volvo,xc-90,gen-ii-2014-xc-90,2019,40000,1969,Diesel,Kraków,Małopolskie,295000
117867,volvo,xc-90,gen-ii-2014-xc-90,2018,110000,1969,Gasoline,Kraków,Małopolskie,239900
117897,volvo,xc-90,gen-ii-2014-xc-90,2019,40000,1969,Diesel,Kraków,Małopolskie,295000
117899,volvo,xc-90,gen-ii-2014-xc-90,2018,110000,1969,Gasoline,Kraków,Małopolskie,239900

Ilość ogłoszeń pochodzących z Krakowa dla samochodów z rocznika 2015 - 2020 włącznie w zależności od rodzaju paliwa

In [113]:
df_car[(df_car['city'] == 'Kraków') & (df_car['year'] >= 2015)
       & (df_car['year'] <= 2020)]['fuel'].value_counts()

fuel
Gasoline    594
Diesel      441
Hybrid       33
LPG          21
Electric     10
Name: count, dtype: int64

Ilość ogłoszeń pochodzących z Krakowa dla samochodów z rocznika 2015 - 2020 włącznie w zależności od marki samochodu

In [114]:
df_car[(df_car['city'] == 'Kraków') & (df_car['year'] >= 2015)
       & (df_car['year'] <= 2020)]['mark'].value_counts()

mark
audi             115
ford             115
volvo             95
bmw               85
mercedes-benz     81
renault           80
opel              73
toyota            64
skoda             64
volkswagen        60
kia               36
peugeot           34
nissan            33
mazda             32
fiat              28
hyundai           28
seat              24
citroen           22
honda             11
mini               8
mitsubishi         5
alfa-romeo         3
chevrolet          3
Name: count, dtype: int64

Średnia cena samochodów w daym regionie w kolejności od najdroższego

In [115]:
df_car.groupby('province')['price'].mean().sort_values(ascending=False)

province
Niedersachsen              115000.000
Moravian-Silesian Region    95078.314
Pomorskie                   84231.164
Śląskie                     81237.557
Łódzkie                     75589.222
Mazowieckie                 74438.702
Opolskie                    71481.954
Kujawsko-pomorskie          69324.851
Małopolskie                 68430.776
Podlaskie                   67980.044
Dolnośląskie                66654.488
Wielkopolskie               64643.911
(                           62900.000
Lubuskie                    62375.653
Warmińsko-mazurskie         62047.470
Zachodniopomorskie          59405.454
Podkarpackie                56318.752
Świętokrzyskie              56089.222
Lubelskie                   49406.903
Berlin                      23332.667
Nordrhein-Westfalen         19900.000
Wiedeń                      13900.000
Trenczyn                     8499.000
Name: price, dtype: float64

Ilość ogłoszeń dla danej marki samochodu, której cena przekroczyła 100000 zł

In [116]:
df_car[df_car['price']>100000].groupby('mark').size()

mark
alfa-romeo        172
audi             4107
bmw              4319
chevrolet          48
citroen            94
fiat              103
ford             1074
honda             268
hyundai           343
kia               528
mazda             414
mercedes-benz    3300
mini              349
mitsubishi         94
nissan            223
opel              337
peugeot           580
renault           584
seat              226
skoda             988
toyota            549
volkswagen       2044
volvo            1895
dtype: int64

Ilość ogłoszeń w małopolsce ze względu na markę samochodu

In [117]:
df_car[df_car['province']=='Małopolskie'].groupby('mark').size()

mark
alfa-romeo        76
audi             998
bmw              957
chevrolet         63
citroen          215
fiat             365
ford             788
honda            184
hyundai          275
kia              332
mazda            172
mercedes-benz    522
mini             131
mitsubishi        72
nissan           275
opel             993
peugeot          426
renault          579
seat             303
skoda            499
toyota           423
volkswagen       778
volvo            330
dtype: int64

Miejscowości w małopolsce, z których pochodziły ogłoszenia oraz ich ilość

In [118]:
df_car[df_car['province']=='Małopolskie'].groupby('city').size()

city
Aleksandrowice      1
Alwernia           89
Andrychów          28
Babice              5
Bachowice          12
                   ..
Łężkowice           1
Śmigno              1
Świątniki Górne    15
Żabno              25
Żarki               4
Length: 539, dtype: int64

5 najczęściej pojawiających się samochodów w ogłoszeniach z województwa małopolskiego

In [119]:
df_car[df_car['province']=='Małopolskie'].groupby(['mark','model','year']).size()\
    .sort_values(ascending=False).head()

mark  model    year
fiat  tipo     2021    44
opel  astra    2011    41
bmw   seria-3  2021    39
audi  a3       2009    35
fiat  500      2021    35
dtype: int64

5 najczęściej pojawiających się samochodów w ogłoszeniach z województwa mazowieckiego

In [120]:
df_car[df_car['province']=='Mazowieckie'].groupby(['mark','model','year']).size()\
    .sort_values(ascending=False).head()

mark        model    year
volvo       xc-90    2018    98
skoda       octavia  2018    79
volkswagen  passat   2017    76
skoda       octavia  2017    70
ford        focus    2017    67
dtype: int64

5 najczęściej pojawiających się samochodów w ogłoszeniach z województwa śląskiego

In [121]:
df_car[df_car['province']=='Śląskie'].groupby(['mark','model','year']).size()\
    .sort_values(ascending=False).head()

mark  model    year
bmw   seria-5  2021    108
      seria-3  2021     85
fiat  tipo     2021     68
opel  astra    2017     67
               2011     58
dtype: int64